 @import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    flex-direction: column;
    min-height: 100vh;
}
button {
    padding: 15px 90px;
    font-size: 25px;
    border-radius: 8px;
    background-color: white;
}   
#regBtn{
    padding: 15px 85px !important;
}
.regClass {
    color: white;
    box-shadow: 6px 2px 5px black;
    background-color: black;
    cursor: pointer;
}
#regBtn:hover {
    color: white;
    box-shadow: 6px 2px 5px black;
    background-color: black;
    cursor: pointer;
}
#rainbowBtn{
    padding: 15px 73px !important;
    background-image: url(color.gif);
    color: white;
}
.rainbowClass{
    box-shadow: 3px 0px 5px #fb0000, 0px 4px 5px #22ff00,  -3px 0 5px #0097ff;
    cursor: pointer;
}
#rainbowBtn:hover {
    box-shadow: 3px 0px 5px #fb0000, 0px 4px 5px #22ff00,  -3px 0 5px #0097ff;
    cursor: pointer;
}
#eraseBtn {
    background-color: black;
    color: white;
}
.eraseClass {
    background-color: lightpink !important;
    color: black !important;
    box-shadow: 6px 2px 5px #d9d9d9 !important;
    cursor: pointer;
}
#eraseBtn:hover {
    background-color: lightpink;
    color: black;
    box-shadow: 6px 2px 5px #d9d9d9;
    cursor: pointer;
}
#clearBtn:hover {
    box-shadow: 20px 20px 10px #d9d9d9;
    color: white;
    cursor: pointer;
}
.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    background-color: #d9d9d9;
    padding-bottom: 40px;
}
.flex-wrapper{
    flex: 1 0 auto;
}
.content-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
}
.settings-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    opacity: .7;
    outline: none;
    border-radius: 6px;
    height: 20px;
    background: #a5a5a5;
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #284b63;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.slidecontainer{
    margin-top: 20px;
    width: 83%;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    align-items: center;
    gap: 10px;
}
.invis{
    margin-left: 300px;
}
#gridContainer{
    display: grid;
    border: 2px solid steelblue;
    height: 700px;
    width: 700px;
    box-shadow: 1px 1px 5px 4px #d9d9d9;
}
#gridContainer div{
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #284b63;
    color: white;
}
@keyframes spin{
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}
.rotate{
    transition: transform 1s;
    padding-left: 5px;
}
.rotate:hover{
    transform: rotate(360deg);
}
.footer i{
    text-decoration: none;
    color: #fcd5ce;
    transition: font-size 1s, padding-left 1s;
    font-size: 18px;
}
.footer i:hover {
    font-size: 26px;
    padding-left: 8px;
}

button{
    margin: 20px;
}

.fill{
    background-color: black !important;
}
