@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    flex-direction: column;
}
.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    background-color: #d9d9d9;
    padding-bottom: 40px;
}



.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #284b63;
    color: white;
    max-height: 40px;
}
@keyframes spin{
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}
.rotate{
    transition: transform 1s;
    padding-left: 5px;
}
.rotate:hover{
    transform: rotate(360deg);
}
.footer i{
    text-decoration: none;
    color: #fcd5ce;
    transition: font-size 1s, padding-left 1s;
    font-size: 18px;
}
.footer i:hover {
    font-size: 26px;
    padding-left: 8px;
}
.flex-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}