 @import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    flex-direction: column;
    min-height: 100vh;
}
button {
    padding: 15px 90px;
    font-size: 25px;
    border-radius: 8px;
    background-color: white;
}   
#regBtn{
    padding: 15px 85px !important;
    outline: 4px solid black;
    transition: outline-offset .5s;
    outline-offset: -7px;
    border: none;
    background-color: black;
    color: white;
}
.regClass {
    color: white;
    background-color: black;
    cursor: pointer;
    background-color: #1f1f1f !important;
    outline: 4px solid #1f1f1f !important;
    outline-offset: 0px !important;
}
#regBtn:hover {
    color: white;
    box-shadow: 20px 20px 10px #d9d9d9 ;
    background-color: black;
    cursor: pointer;
    outline-offset: 0px;
}
#rainbowBtn{
    padding: 15px 82px !important;
    background-image: url(color.gif);
    color: white;
    border: none;
    outline: 4px solid white;
    transition: outline-offset .5s;
    outline-offset: -4px;
}
.rainbowClass{
    outline: 4px solid darkgray !important;
    outline-offset: 0px !important;
    cursor: pointer;
}
#rainbowBtn:hover {
    box-shadow: 20px 20px 10px #d9d9d9 ;
    cursor: pointer;
    outline-offset: 0px;
    
}
#eraseBtn {
    background-color: black;
    color: white;
    border: none;
    outline: 4px solid black;
    transition: outline-offset .5s;
    outline-offset: -7px;
}
.eraseClass {
    background-color: black;
    color: white !important;
    cursor: pointer;
    background-color: #1f1f1f !important;
    outline: 4px solid #1f1f1f !important;
    outline-offset: 0px !important;
}
#eraseBtn:hover {
    background-color: black;
    color: white;
    box-shadow: 20px 20px 10px #d9d9d9;
    cursor: pointer;
    outline-offset: 0px;
}
#eraseBtn:active {
    background-color: #1f1f1f;
    outline: 4px solid #1f1f1f;
}
#clearBtn {
    color: white;
    background-color: black;
    border: none;
    outline: 4px solid black;
    transition: outline-offset .5s;
    outline-offset: -7px;
}
#clearBtn:hover {
    box-shadow: 20px 20px 10px #d9d9d9;
    color: white;
    cursor: pointer;
    outline-offset: 0px;

}
#clearBtn:active {
    background-color: #1f1f1f;
    outline: 4px solid #1f1f1f;
}
.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    background-color: #d9d9d9;
    padding-bottom: 40px;
    
}
.flex-wrapper{
    flex: 1 0 auto;
}
.content-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
}
.settings-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    outline: 4px solid black;
    margin-right: 40px;
    background-color: rgb(243, 242, 242);
}
.settings-wrapper h2{
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 20px;
}
.settings-wrapper p{
    font-weight: bold;
    font-size: 27px;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    opacity: .7;
    outline: none;
    border-radius: 6px;
    height: 20px;
    background: #a5a5a5;
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #284b63;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.slidecontainer{
    margin-top: 20px;
    width: 83%;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    align-items: center;
    gap: 10px;
}
.invis{
    margin-left: 300px;
}
#gridContainer{
    display: grid;
    height: 700px;
    width: 700px;
    box-shadow: 1px 1px 5px 4px #d9d9d9;
}
#gridContainer div{
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #284b63;
    color: white;
}
@keyframes spin{
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}
.rotate{
    transition: transform 1s;
    padding-left: 5px;
}
.rotate:hover{
    transform: rotate(360deg);
}
.footer i{
    text-decoration: none;
    color: #fcd5ce;
    transition: font-size 1s, padding-left 1s;
    font-size: 18px;
}
.footer i:hover {
    font-size: 26px;
    padding-left: 8px;
}

button{
    margin: 20px;
}

.fill{
    background-color: black !important;
    ;
}

@font-face {
    font-family: mongus;
    src: url(AmongUs-Regular.ttf);
    font-weight: normal;
    font-style: normal;
  }
  .mong {
    font-family: 'mongus' !important;
    font-size: 48px !important;
    text-transform: uppercase !important;
  }


@media only screen and (max-width: 800px) {
    #gridContainer {
      height: 250px;
      width: 250px;
    }
    .settings-wrapper {
        padding: 20px;
        margin-right: 0px;
        margin-top: 30px;
    }
    .settings-wrapper h2 {
        font-size: 20px;
        padding-bottom: 0px;
    }
    .content-wrapper button {
        font-size: 15px;
        margin: 10px;
    }
    .content-wrapper {
        flex-direction: column-reverse;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}